body {
  background-color: #D6EAF8;
  width: 100%;
  /*background-position: #EBEBEB;*/
  /*border: 1pt solid green;*/
}

label{
  font: Georgian;
  font-size: 1em;
  font-weight: bold;
}

p {
  height: 100px;
  width: 100px;
  background-size: cover;
  /*border: 1pt solid red;*/
  /*This centers the image.*/
  display: block;
  margin: auto;
}

.slot_Class{
  margin-top: 10pt;
  padding-top: 0pt;
  height: 100pt;
  width: 100pt;
  /*border: 1pt solid green;*/
  font: Georgian;
  font-size: 1em;
  font-weight: bold;
}

header{
  display: flex;
  justify-content: center;
  align-content: center;
}

.player{
  display: flex;
  justify-content: center;
  align-content: center;
}

.search{
  display: flex;
  justify-content: center;
  align-content: center;
}

#search_button{
   background-color: #34495E;
   border: 2pt solid #85929E;
   border-radius: 25%;
   color: white;
   padding: 15px 18px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}

.music-player{
  width: 80%;
}

.text_box{
  width: 80%;
}


#search_items{
padding-left: 15px;
width: 500px;
height: 35px;
border: 2px solid #CCD1D4;
border-radius: 3px;
margin: 10px;
font-size: 15px;
}

input{
}

.row_box{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 95%;
  height: 200pt;
  /*border: 1pt solid green;*/
}

.unit_both{
  width: 180pt;
  height: 180pt;
  padding: 10pt;
  /*border: 1pt solid blue;*/
  text-align: center;
}
